body{
    background-image: url(./5.jpeg);
    background-size: cover;
    
}

.nav{
    position: relative;
    padding-top: 20px;
    color: white;
}

.camel{
    position: absolute;
    left: 93px;
}

.camel img{
    width: 50px;
    height: 50px;
}

.item1{
    position: absolute;
    top: 20px;
    right: 400px;
}

.item2{
    position: absolute;
    top: 20px;
    right: 300px;
}

.item3{
    position: absolute;
    top: 20px;
    right: 200px;
}

.item4{
    position: absolute;
    top: 13px;
    right: 110px;
}

.item4 img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.div2{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    gap: 30px;
    margin-left: 53%;
    margin-top: 6%;
}

.block{
    border-radius: 10px;
    width: 200px;
    height: 220px;
    padding-left: 20px;
    color: white;

}

.block:hover{
    transform: translateY(-15px);
    transition-duration: 0.5s;
}

.block1{
    background-image: url(./1.jpeg);
    background-size: cover;
}

.block2{
    background-image: url(./4.jpeg);
    background-size: cover;
}

.block3{
    background-image: url(./3.jpeg);
    background-size: cover;
}

.block4{
    background-image: url(./2.jpeg);
    background-size: cover;
}

.div3{
    width: 500px;
    height: 260px;
    position: absolute;
    top: 185px;
    left: 100px;
    color: white;
}

h1{
    font-size: 5em;
    margin-bottom: 10px;
}

.explore{
    background-color: white;
    width: 150px;
    height: 20px;
    border-radius: 22px;
    padding: 5px 20px;
    text-align: center;
    position: absolute;
    top: 435px;
    left: 90px;
    padding-top: 11px;
}


@media (min-width: 320px) and (max-width: 856px) {
    h1{
        font-size: 25px;
        position: absolute;
        top: -80px;
        left: 0px;
    }
    p{
        position: absolute;
        top: -45px;
        left: 0;
    }
    
    .div2{
        align-items: center;
        width: 100%;
        margin-left: 21%;
        margin-top: 34%;
    }

    .block{
        width: 470px;
        height: 220px;
        /* background-size: cover; */
        background-position: 0%;
    }

    .explore{
        margin-top: -22%;
    }

}